
#banner{
    width: 100%;
}
.principal {
    background-color: #cccccc;
}
h1{
    text-align: center;
}

p {
    text-align: center;

}
/*# para chamar idenficador*/
#missao {
        font-size: 22px;
}
em strong{
    color: red
}

.beneficios {
    background-color: #FFFFFF;
}

.itens {
    font-style: italic;
}

h2{
    text-align: center;
}

ul {
    display:inline-block;
}

#beneficios{
        width: 50%; 
    
}
